/*QuickReset*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Average Sans', sans-serif;
}

.ocultar {
  display: none;
}

.mostrar {
  display: block;
}

.activo {
  background-color: rgb(34, 137, 145);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box {
  display: flex;
  flex-wrap: nowrap;
  
}
.div50{min-width: 50%;display: block;}

section {
  flex: 1;
  padding: 25px;
  font-size: 20px;
  font-weight: 600;

  background-color: aliceblue;
}

main p {
  margin-bottom: 20px;
}

header h1{font-size: 40px;
  text-shadow: 4px 0  rgb(17, 44, 66);}

header {
  padding: 25px;
  background-color: rgb(17, 44, 66);
  color: rgb(232, 248, 248);
  background-image: url("images/fotoperfil.jpg"), linear-gradient(to right , rgb(255, 159, 95), rgb(17, 44, 66)) ;
  background-blend-mode:lighten ;
}

header ul li {
  display: inline;
}

header ul {
  text-align: end;
}

header ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border: 1px dotted  rgb(17, 44, 66);
  line-height: 45px;
}


header ul li a:hover {
  color: rgb(17, 44, 66);
  background-color: beige;
  transition: background-color 1s;
}

header ul li a:active {
  background-color: orange;
  color: red
}

section {
  color: rgb(28, 28, 54);
}

section h2 {
  margin-bottom: 20px;
}

section h3 {margin-bottom: 15px;}
.bordeazul {
  margin-left: 20px;
  border-radius: 20px 0px 20px 0px;
  border: 5px solid rgb(17, 44, 66);
}

textarea{width: 95%; min-width: 300px; font-size: 20px; margin-top: 15px; border-radius: 5px;}
input{ min-width: 230px;
  border-radius: 5px;
  margin-left: 10px; 
height: 30px;
font-size: 20px;}
button{font-size: 20px; margin: 0 0 0 60%; width: 120px; height: 40px;}
footer {
  background-color: black;
  text-align: center;
  color: white;
}

footer a {
  color: aliceblue;
}
  .redesSociales{display: flex; flex-flow: column;}
a img {vertical-align: middle;
text-align: center;}
.redesSociales a{text-decoration: none; font-size: 15px; color: rgb(17, 44, 66);}
@media (max-width: 600px) {
  .redesSociales{display: flex; flex-flow: row;}
  .box {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }

#mifoto {
    width: 100%;
    margin: 0 auto;
  }
}
